// Print-only styles.
@media print {
    .side-bar, #disqus_container, #disqus_thread, #formbutton-container, #ads_container { display: none; }
    .main-content { max-width: auto; margin: 1em;}
    body { -webkit-print-color-adjust: exact !important; }
    .print-title-size { @include fs-5; }
}

// Animated Collapsible (Slide Down)
.s-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

// fix the nav side bar color
.side-bar {
    background-color: #fff;
}

// for the summary headline
h5,
.text-epsilon {
  @include fs-3; 
  padding: 1%;
  color: #ffffff;
  background-color: #8c9da9;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.print-title-size { @include fs-6; }

// display inline
.d-inline {
    display: inline;
}

// image alignment
.reading_img_container {
  text-align: center;
}

// paragraph formatting
body {
  font-weight: 300;
  color: rgba(41, 41, 41, 1);
}

//blockquote styling
.quote_style {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: 'Times New Roman', Times, serif;
}
.quote_style:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  display: block;
}
.quote_style p {
  @include fs-6;
  font-weight: 400;
  font-style: italic;
  color: #a9a9a9;
  text-align: center;
}