// Print-only styles.
@media print {
    .side-bar, .page-header { display: none; }
    .main-content { max-width: auto; margin: 1em;}
}

// Animated Collapsible (Slide Down)
.summary-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

// fix the nav width
// .nav-list {
//     width: 180px;
// }

