<!-- Amazon Ads -->
{% if page.title == "Radical Candor" %}
<div id="amzn-assoc-ad-cfa467df-13c7-4058-a655-a451201053e5"></div>
<script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=cfa467df-13c7-4058-a655-a451201053e5"></script>

<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_tracking_id = "dsdocs-20";
    amzn_assoc_ad_mode = "manual";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_linkid = "d40e925a598bd1c1f9bc330a9ec6015c";
    amzn_assoc_asins = "1250235375,1250258405";
    amzn_assoc_design = "in_content";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
{% endif %}

