<!-- Amazon Ads -->
{% if page.title == "Radical Candor" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-f200edbf-0d19-493b-8d58-752d63b36a5d"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=f200edbf-0d19-493b-8d58-752d63b36a5d"></script>
</div>
{% endif %}

{% if page.title == "Multipliers" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-2c5ae132-1e22-48a2-88be-46015e57be52"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=2c5ae132-1e22-48a2-88be-46015e57be52"></script>
</div>
{% endif %}

{% if page.title == "The Five Dysfunctions Of A Team" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-5f8ce7e8-f984-49da-80c9-6afac0b3b1a0"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=5f8ce7e8-f984-49da-80c9-6afac0b3b1a0"></script>
</div>
{% endif %}

{% if page.title == "Hooked" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-b9261d7f-e6d3-498e-88c2-10edc082e275"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=b9261d7f-e6d3-498e-88c2-10edc082e275"></script>
</div>
{% endif %}

{% if page.title == "Growth Hacker Marketing" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-5c13bec6-7a46-4049-adb0-df13da0e042b"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=5c13bec6-7a46-4049-adb0-df13da0e042b"></script>
</div>
{% endif %}

{% if page.title == "Crucial Conversations" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-2a2e0702-3744-41f0-8e83-56634c07751c"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=2a2e0702-3744-41f0-8e83-56634c07751c"></script>
</div>
{% endif %}

{% if page.title == "Conscious Business" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-ee3c6e88-99fd-4658-b2ec-de59ee8df996"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=ee3c6e88-99fd-4658-b2ec-de59ee8df996"></script>
</div>
{% endif %}

{% if page.title == "15 Commitments of Conscious Leadership" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-90062f27-6175-46c1-9a9b-3623ca6df7e5"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=90062f27-6175-46c1-9a9b-3623ca6df7e5"></script>
</div>
{% endif %}


{% if page.title == "Principles" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-b92efcae-a54c-4c9c-a7d4-a66f5f1564fb"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=b92efcae-a54c-4c9c-a7d4-a66f5f1564fb"></script>
</div>
{% endif %}