<!-- Amazon Ads -->
{% if page.title == "Radical Candor" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-f200edbf-0d19-493b-8d58-752d63b36a5d"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=f200edbf-0d19-493b-8d58-752d63b36a5d"></script>
</div>
{% endif %}

{% if page.title == "Multipliers" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-2c5ae132-1e22-48a2-88be-46015e57be52"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=2c5ae132-1e22-48a2-88be-46015e57be52"></script>
</div>
{% endif %}

{% if page.title == "The Five Dysfunctions Of A Team" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-5f8ce7e8-f984-49da-80c9-6afac0b3b1a0"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=5f8ce7e8-f984-49da-80c9-6afac0b3b1a0"></script>
</div>
{% endif %}

{% if page.title == "Hooked" %}
<div id="ads_container">
    <hr>
    <div id="amzn-assoc-ad-b9261d7f-e6d3-498e-88c2-10edc082e275"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=b9261d7f-e6d3-498e-88c2-10edc082e275"></script>
</div>
{% endif %}

