<!-- formspree formbutton -->
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
   window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
   formbutton("create", {
      action: "//formspree.io/{{ site.formspree }}",
      title: "Got A Question?",
      description: "Your questions or comments are welcome. You will hear back within the next 24 hours.",
    })
</script>

<!-- Animated Collapsible (Slide Down) -->
<script>
    var coll = document.getElementsByClassName("summary-collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
</script>